{% assign languages = site.data.data.languages %}
{% if languages %}
<section class="languages-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ languages.title }}
  </h2>

  <div class="skillset">

    {% for language in languages.toolset %}
    <div class="item">

      <h3 class="level-title">{{ language.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ language.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//languages-section-->
{% endif %}
